@media (max-width: 1200px) {
  .mainText {
    font-size: 65px !important;
  }
}

@media (max-width: 700px) {
  .mainText {
    font-size: 55px !important;
  }
}

@media (max-width: 700px) {
  .mainText {
    font-size: 45px !important;
  }
}
