$primary-color: #6baed6;
$secondary_color: #f7dc6f;
$dark_color: #353535;
$text-gray: #8d8b8b;
$bg-color-home: #e2eef8;
$peo-color: #ffff;
$text-gray-secondary: #5e5f60;
$bg-page-color: #f8f8f8;

/* responsive breakpoint*/
$responsive-tablet: 992px;
$largeScreen-breakpoint: 1600px;

/* inner container width */
$forLargeScreen-inner-container: 90%;
